<h2>USERS</h2>

{{#each theUsers}}
<div>
  <p>Name: {{username}} </p>
  <p>Role: {{role}} </p>
  <p>Favorite food: {{favoriteFood}} </p>
  <p>Favorite Character: {{favoriteCharacter}} </p>
  <p>Favorite Color: {{favoriteColor}} </p>
</div>
<hr>
{{/each}}